@layer base {
  @font-face {
    font-family: Gilmer-Regular;
    src: url("../src/assets/font/Gilmer-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: Gilmer-Bold;
    src: url('../src/assets/font/Gilmer-Bold.ttf') format("truetype");
  }

  @font-face {
    font-family: Gilmer-Medium;
    src: url("../src/assets/font/Gilmer-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: Gilmer-Heavy;
    src: url('../src/assets/font/Gilmer-Heavy.otf') format("opentype");
  }

  @font-face {
    font-family: Gilmer-Light;
    src: url('../src/assets/font/Gilmer-Light.otf') format("opentype");
  }
}

:root {

  font-family: "Gilmer-Regular";
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-calendar-picker-indicator {
  filter: invert(24%) sepia(85%) saturate(7299%) hue-rotate(140deg) brightness(90%) contrast(117%);
}

body {
  font-family: "Gilmer-Regular";
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* border: 1px solid #253341; */
  -webkit-text-fill-color: black;
  /* -webkit-box-shadow: 0 0 0px 1000px #253341 inset; */
  /* box-shadow: 0 0 0px 1000px #253341 inset; */
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #253341; */
  -webkit-text-fill-color: white;
  /* -webkit-box-shadow: 0 0 0px 1000px #253341 inset; */
  /* box-shadow: 0 0 0px 1000px #253341 inset; */
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

input {
  background-color: white;
}

.no-arrow {
  -moz-appearance: textfield;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  height: 5px; 
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ebeaea;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EFC586;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  background: #EFC586;
  border-radius: 5px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;